<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <!-- encoders are by default assigned the parameterType ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
      </pattern>
    </encoder>
  </appender>
  <logger level="INFO" name="com.mchange.v2"/>
  <logger level="DEBUG" name="com.edgar.jdbc.codegen"/>
  <logger level="WARN" name="org.springframework"/>
  <logger level="WARN" name="org.apache"/>
  <logger level="WARN" name="ch.qos.logback.core"/>
  <logger level="WARN" name="ch.qos.logback.classic"/>
  <logger level="INFO" name="org.maven"/>


  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
